@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    /* background-color: #222222; */
    color:black
}

.me {
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}